@media (max-width: 767px) {
	.bg-img-properties h1 {
		font-size: 22px;
	}
	#headerWrapper button {
		outline: none;
	    z-index: 999;
	}
	#headerWrapper button[aria-expanded="false"] .navbar-toggler-icon {
	    background-image: url(assets/images/menu.png);
	    background-repeat: no-repeat;
	    background-size: 17px;
	}
	#headerWrapper button[aria-expanded="true"] .navbar-toggler-icon {
	    background-image: url(assets/images/close.png);
	    background-repeat: no-repeat;
	    background-size: 17px;
	}
	.header-nav-links {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #ffffff;
	    z-index: 99;
	}
	.our-rooms-head h2 {
		font-size: 34px;
	}
	.availability-block h3 {
		font-size: 28px;
	}
}
