@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');
body {
	font-family: 'Bitter', serif;
}
.header-bg {
	background: transparent;
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.1);
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
}
#headerWrapper .header-links li:not(:last-child) {
	padding-right: 20px;
}
#headerWrapper .header-links a{
	color: #404248;
}
#headerWrapper .header-links a:hover {
	content: "";
	color: #0366d6;
	border-bottom: 2px solid #0366d6;
	display: block;
}
.bg-img-properties {
    background-size: cover;
    background-repeat: no-repeat;
}
.screenHeight-minus-headerHeight {
    height: calc(100vh - 67px);
    height: -moz-calc(100vh - 67px);
    height: -webkit-calc(100vh - 67px);
}
.bg-img-properties h1 {
	font-size: 44px;
	font-weight: 700;
}
.bg-img-properties h3 {
	font-size: 22px;
	line-height: 34px;
}
.border-bottom-grey {
	border-bottom: 1px solid #e8e8e8;
}
#roomsWrapper .about-rooms h3,
.luxury-block h2 {
	color: #ffffff;
	font-size: 34px;
}
.luxury-block h2 {
	color: #404248;
}
.luxury-block p,
.availability-block label{
	font-size: 17px;
}
.airport-location p {
	display: inline-block;
}
.availability-block {
	background-color: #121f38;
}
.our-rooms-head h2,
.availability-block h3 {
	font-size: 40px;
}
#customerWrapper {
	background-color: #fcfcfc;
}
.customer-block p{
	color: #404248;
	font-size: 16px;
}
.customer-block h4 {
	color: #404248;
	font-size: 20px;
}
.customer-block .text-center:hover {
	background-color: #ffffff;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);
}
#customerWrapper img {
	border-radius: 50%;
}
#roomsWrapper {
	background-color: #121f38;
}
#roomsWrapper .about-rooms h5,
.our-rooms-head h4 {
	font-size: 14px;
	text-align: center;
}
#chooseWrapper .our-rooms-head h4,
#chooseWrapper .our-rooms-head h2,
.ratings-block h6 {
	color: #404248;
}
.ratings-block i {
	font-size: 40px;
	margin-bottom: 14px;
}
.ratings-block p {
	color: #000000;
}
.ratings-block h6 {
	font-size: 25px;
}
#contactWrapper a:hover,
#footerWrapper {
	background-color: #121f38;
}
#contactWrapper a {
	border: 0;
    border-radius: 0;
    outline: none;
}
#footerWrapper {
	letter-spacing: 6px;
}